In [3]:
import pandas as pd


df = pd.read_csv('C:/Users/Ray/Documents/2020_Ic/file_name.csv')

In [5]:
def altitude_estacoes():
  url_todas_estacoes = 'https://apitempo.inmet.gov.br/estacoes/T'
  req=requests.get(f'{url_todas_estacoes}')
  resposta= json.loads(req.content)
  print(resposta[0])
  altitudes={}
  for estacao in resposta:
    altitudes[estacao['CD_ESTACAO']] = float(estacao['VL_ALTITUDE']) if(estacao['VL_ALTITUDE'] !=None ) else 10
  return altitudes

In [7]:
df

,Unnamed: 0,Data,Hora,PRECIPITACAO_TOTAL,PRESSAO_ATMOSFERICA,PRESSAO_ATMOSFERICA_MAX,PRESSAO_ATMOSFERICA.1,RADIACAO,TEMPERATURA_DO_AR,TEMPERATURA_DO_PONTO_DE_ORVALHO,...,TEMPERATURA_MIN,TEMPERATURA_ORVALHO_MAX,TEMPERATURA_ORVALHO_MIN,UMIDADE_REL_MAX,UMIDADE_REL_MIN,UMIDADE_RELATIVA_DO_AR,VENTO_DIRECAO_HORARIA,VENTO_RAJADA_MAX,VENTO_VEL,Unnamed: 19
0,0,2018-01-01,0,0,"918,5","918,5","917,7",-9999,"21,7",19,...,"21,6","19,3",17,85.0,71.0,85,342,"2,3",0.7,0.0
1,1,2018-01-01,1,0,"918,9","918,9","918,5",-9999,"21,3","19,4",...,21,"19,4","18,9",89.0,84.0,89,355,"2,3",0.8,0.0
2,2,2018-01-01,2,0,"918,8","919,2","918,8",-9999,"21,7","19,4",...,"21,2","19,7","19,3",89.0,86.0,87,39,"1,3",0.6,0.0
3,3,2018-01-01,3,0,"918,4","918,8","918,4",-9999,"21,2","19,3",...,"21,2","19,6","19,2",89.0,87.0,89,16,"1,3",0.3,0.0
4,4,2018-01-01,4,0,"917,6","918,4","917,6",-9999,"20,8","19,2",...,"20,8","19,7","19,2",91.0,89.0,91,348,2,0.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,17515,2019/12/31,19,0,"913,3","913,8","913,3","1747,2","28,5","14,5",...,"27,3",16,"13,2",50.0,38.0,42,72,5,1.9,0.0
17516,17516,2019/12/31,20,0,"913,3","913,4","913,3","577,5","26,2","15,6",...,"25,9","16,1","13,5",53.0,40.0,52,108,"8,6",4.3,0.0
17517,17517,2019/12/31,21,0,"913,5","913,5","913,2","655,5","25,7","16,1",...,"25,6","16,6","15,6",56.0,52.0,55,109,"8,6",3.1,0.0
17518,17518,2019/12/31,22,0,914,914,"913,4",44,"24,9","15,7",...,"24,8","16,2","15,7",58.0,55.0,57,84,"7,8",2.8,0.0
17519,17519,2019/12/31,23,0,"914,4","914,4",914,0,24,16,...,24,"16,1","15,7",61.0,57.0,61,88,"6,7",2.1,0.0